<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Read external storage permission (for scanning music files) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Android 13+ requires READ_MEDIA_AUDIO permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicZone">


        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ChooseStyleActivity" />
        <activity android:name=".activities.RockStyleActivity" />
        <activity android:name=".activities.MusicPlayerActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.MusicListActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.MusicRecommendationActivity" />

        <activity
            android:name=".activities.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
